[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
openai = "*"
flask = "*"
flask_cors = "*"

[dev-packages]

[requires]
python_version = "3.10"
